<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layout._header.title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layout._header.home"), home_path %></li>
        <li><%= link_to t("layout._header.help"), hefl_path %></li>
        <li><%= link_to t("layout._header.logIn"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
